{# templates/spider/add.html.twig #}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Spider Market Home</title>
        {% block stylesheets %}
        <link href="{{ '../css/bootstrap.css' }}" type="text/css" rel="stylesheet" />
    	{% endblock %}

    </head>

    <body>
       <header>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  

   <a class="navbar-brand"  href="/spider">Spider Market <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/77640-200.png" alt="MDN" height="20%" width="20%"> </a>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/spider">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/spider/add">Add <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
  
</nav>
</header>
<ul id="navigation">
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
    </body>
</html>